body, h1, form, label, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 70px auto 0px auto;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin: 10px auto 20px auto;
    font-size: 27px;
    color: #444;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
form{
    text-align: center;
}
input, textarea{
    padding: 9px;
    border-radius: 4px;
    border: 1px solid #acacac;
    margin: 10px auto 10px auto;
    width: 400px;
}
textarea{
    height: 80px;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}