* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%; 
    margin: 0; 
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffc107;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #343a40;
    color: white;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

footer {
    margin-top: auto; 
    text-align: center;
    padding: 15px;
    background-color: #343a40;
    color: white;
    margin-bottom: 0;
}
