/* Định dạng tổng thể */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin: 20px auto 20px auto;
}

/* Form nhập liệu */
form {
    display: flex;
    margin: 10px auto 10px auto;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #218838;
}

/* Bảng hiển thị người dùng */
table {
    width: 1400px;
    border-collapse: collapse;
    margin: 15px auto 30px auto;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #343a40;
    color: white;
}

td {
    background-color: #fff;
}

th:last-child, td:last-child {
    width: 300px; 
    text-align: center; 
}

/* Nút xóa */
.action-buttons {
    display: flex;
    gap: 10px; 
    justify-content: center;
    align-items: center; 
    height: 100%;
}
.delete-form {
    margin: 0; 
    padding: 0;
}

.edit, .delete {
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.edit {
    background-color: #007bff;
    color: white;
    border: none;
}
.edit:hover{
    background-color: #0060c7;
}

.delete {
    background-color: #dc3545;
    color: white;
    border: none;
}
.delete:hover{
    background-color: #a82734;
}
.pagination {
    text-align: center;
    margin: 0px auto 10px auto;
}

.pagination ul {
    list-style: none;
    padding: 0;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination a, .pagination span {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}

.pagination .active span {
    background-color: #28a745;
    color: white;
    border: 1px solid  #218838;
}

select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.btn {
    display: inline-block;
    padding: 8px;
    background: #28a745;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #218838;
}