body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
}

.profile-container {
    background: white;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1200px;
    text-align: center;
    margin: 18px auto 0px auto;
    height: 550px;
}

h2 {
    color: #333;
    margin: 0px auto 10px auto;
}

.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-left: 120px;
}

input {
    width: 900px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px auto 10px auto;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin: 7px auto 0px auto;
}

button:hover {
    background-color: #218838;
}

select{
    width: 900px;
    margin: auto auto 10px auto;
    font-size: 13px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
